<div class="page-content">
            <!-- registration form -->
            <div class="col-md-12 order_details_panel">
                <div class="col-md-12">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong> Search Orders </strong></h3>
                                <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                            </div>

                            <div class="panel-body search_form_history">
                                <form role="form">
                                    <!--div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div-->
                                    <div class="row">
                                        <div class="col-md-3 form-group ">

                                            <div class="col-md-12">
                                                <label>Material</label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option> Cement </option>
                                                        <option> Steel </option>
                                                        <option> Binding Wire </option>
                                                        <option> Metal Stone </option>
                                                        <option> Sand </option>
                                                        <option> Bricks </option>
                                                        <option> Wood </option>
                                                        <option> Electrical Materials </option>
                                                        <option> Plumbing Materials </option>
                                                        <option> Painting Materials </option>
                                                        <option> Fitting &amp; Fixtures </option>
                                                        <option> Flooring Materials </option>
                                                        <option> Miscellaneous </option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group ">

                                            <div class="col-md-12">
                                                <label>Vendor Name</label>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select Vendor </option>
                                                        <option> SS Constructions </option>
                                                        <option> RR Constructions </option>
                                                        <option> PS Constructions </option>
                                                        <option> SS Constructions </option>
                                                        <option> RR Constructions </option>
                                                        <option> PS Constructions </option>

                                                    </select>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-3 form-group">
                                            <div class="col-md-12">
                                                <label>Orders from</label>
                                                <input type="date" class="form-control">
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <label>Orders till</label>
                                                <input type="Date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3">

                                            <div class="col-md-12">
                                                <label>Status</label>
                                                <select class="form-control">
                                                    <option> Select status </option>
                                                    <option> Rejected </option>
                                                    <option> Delivered </option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <div class="col-md-12">
                                                <label>Invoice Number</label>
                                                <input type="text" placeholder="Invoice Number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <div class="col-md-12">
                                                <label>Order Number</label>
                                                <input type="text" placeholder="Order Number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">

                                            <div class="col-md-12">
                                                <label></label>
                                                <button class="btn btn-Check_status btn_new_order btn-sm"> Search</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-12 no-padd">
                    <div class="col-md-12 no-padd">
                        <div class="panel panel-default order_history-dash_table">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Orders </strong></h3>
                                <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Order date</th>
                                                <th>Order no.</th>
                                                <th>Material</th>
                                                <th>UOM</th>
                                                <th>Qty</th>
                                                <th>Size</th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Confirmation date</th>
                                                <th>Invoice no.</th>
                                                <th>Invoice date</th>
                                                <th>Delivery qty</th>
                                                <th>Delivery date</th>
                                                <th>Vendor no.</th>
                                                <th>Vendor name</th>
                                                <th>Comments</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>7/8/17</td>
                                                <td>7891234</td>
                                                <td>Cement</td>
                                                <td>Loads</td>
                                                <td>10</td>
                                                <td>789</td>
                                                <td>78900</td>
                                                <td>12235000</td>
                                                <td>Rejected</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>No Comments</td>

                                            </tr>
                                            <tr>
                                                <td>7/8/17</td>
                                                <td>7891234</td>
                                                <td>Iron</td>
                                                <td>Loads</td>
                                                <td>10</td>
                                                <td>789</td>
                                                <td>78900</td>
                                                <td>12235000</td>
                                                <td>Delivered</td>
                                                <td>23/5/17</td>
                                                <td>32</td>
                                                <td>10/9/17</td>
                                                <td>789000</td>
                                                <td>7/8/17</td>
                                                <td>7891234</td>
                                                <td>Balagi </td>
                                                <td>No Comments</td>

                                            </tr>
                                            <tr>
                                                <td>7/8/17</td>
                                                <td>7891234</td>
                                                <td>Sand</td>
                                                <td>Loads</td>
                                                <td>10</td>
                                                <td>789</td>
                                                <td>78900</td>
                                                <td>12235000</td>
                                                <td>Rejected</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>NA</td>
                                                <td>No Comments</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>